<h1>Editing item</h1>

<%= render 'form' %>

<div class="row text-center">
	<%= link_to 'Show', @item, class: 'btn btn-default' %> |
	<%= link_to 'Back', user_panel_path, class: 'btn btn-default' %>
</div>
